#search-tab{
    background-color: transparent;
}
#search-box{
    /*background-color: transparent;*/
    background: url(../img/icon-trans-small.png);
    width: 110%;
}
#picks-tab{
    /*float: left;*/
    margin: 3px;
    border: thick;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(225, 223, 223, 0.80);
    width: 30%;
}
#packs-tab{
    /*float: right;*/
    margin: 3px;
    border: thick;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(225, 223, 223, 0.80);
    width: 30%;
}
#goods-tab{
    margin: 3px;
    border: thick;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(225, 223, 223, 0.80);
    width: 30%;
}
#picks-image{
    /*width: 30px;*/
    /*height: 30px;*/
    display: inline-block;
}
#packs-image{
    /*width: 30px;*/
    /*height: 30px;*/
    display: inline-block;
}
#goods-image{
    /*width: 30px;*/
    /*height: 30px;*/
    display: inline-block;
}
#picks-li{
    display: inline-block;
    color: lightseagreen;
    text-decoration: none;
}
#packs-li{
    display: inline-block;
    color: rgba(117, 116, 116, 0.80);
    text-decoration: none;
}
#goods-li{
    display: inline-block;
    color: rgba(117, 116, 116, 0.80);
    text-decoration: none;
}
.form-input{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    border: none;
    height: 2.5em;
}
.form-horizontal{
    margin-top: 20px;
}
#amount1{
    border-radius: 20px;
    margin-right: 5px;
    color: rgba(60, 183, 44, 0.80);
}
#amount2{
    border-radius: 20px;
    margin-right: 5px;
    color: rgba(60, 183, 44, 0.80);
}
.request-btn{
    float: right;
    background: url(../img/sear.png);
    border-radius: 20px;
}
.verification-msg{
    margin-left: 30px;
}
.verification-image{
    height: 20px;
    width: 20px;
}
.img-container {
    position: relative;
}

.img-container .top-image {
  position: absolute;
  bottom: 5px;
  right: 20px;
  z-index: 1;
  width: 20px;
  height: 20px;
}

.img-container .requester-image {
  position: absolute;
  bottom: 5px;
  right: -20px;
  z-index: 0;
  width: 50px;
  height: 50px;
}

.search-image{
    height: 20px;
    width: 20px;
    margin: 5px;
}
.image-div{
    margin-top: 20px;
}
.profile-picture-image{
    width: 100px;
    height: 100px;
}
.pack-image{
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 1;
}
li{
    list-style: none;
}
.alert-dismissable{
    background-color: rgba(183, 181, 181, 0.80);
    width: 120px;
    height: 45px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
}
.name{
    display: inline-block;
}
.verification-msg{
    display: inline;
}
.find-passengers{
    float: right;
    background: url(../img/sear.png);
    border-radius: 20px;
    margin-right: 20px;
}
.title{
    margin-right: 10px;
    color: #808080;
}
.country{
    margin-right: 10px;
}

.row-itmes{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    margin-top: 20px;
}

.row-li{
    width: 250px;
    height: 200px;
    margin-right:20px;
    background-color: white;
    display: inline-block;
}
.goods-image{
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.goods-name{
    display: block;
    text-align: center;
    margin-top: 5px;
}
.goods-from{
    display: block;
    text-align: center;
}
.radio{
    display: inline;
}
.tab-content input{
    border-radius: 5px;
}
.tab-image-div{
    text-align: center;
}
.tab-title-div{
    text-align: center;
}
.tab-image{
    position: relative;
    top: -20px;
}
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.search-box-title{
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
    /*margin-top: 10px;*/
}
.tab-title-div{
    font-size: 21px;
}
#search-div{
    margin-top: 20px;
}
#result-div{
    margin-top: 40px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
.pagination li a{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.price{
    font-size: 20px;
    position: absolute ;
    left: 25px ;
    bottom: 10px;
}
.what-label{
    margin-top: 10px;
}
.up-to-label{
    font-size: 12px;
    width: 100%;
}