#search-tab{
    background-color: #d4d4d4;
}
#search-box{
    background-color: #e0e0e0;
}
#picks-tab{
    float: left;
}
#packs-tab{
    float: right;
}
#picks-image{
    width: 30px;
    height: 30px;
    display: inline-block;
}
#packs-image{
    width: 30px;
    height: 30px;
    display: inline-block;
}
#picks-li{
    display: inline-block;
}
#packs-li{
    display: inline-block;
}
.form-input{
    width: 100%;
    margin-top: 5px;
}
.form-horizontal{
    margin-top: 20px;
}
#amount1{
    background-color: #ffffff;
    border-radius: 20px;
}
#amount2{
    background-color: #ffffff;
    border-radius: 20px;
}
.request-btn{
    float: right;
}
.verification-msg{
    margin-left: 30px;
}
.verification-image{
    height: 20px;
    width: 20px;
}
.img-container {
    position: relative;
}

.img-container .top-image {
  position: absolute;
  bottom: 5px;
  right: 20px;
  z-index: 1;
  width: 20px;
  height: 20px;
}
.search-image{
    height: 20px;
    width: 20px;
    margin: 5px;
}
.image-div{
    margin-top: 20px;
}
.profile-picture-image{
    width: 100px;
    height: 100px;
}
li{
    list-style: none;
}