form{
    background-color: #f9f9f9;
    /*border-radius: 20px;*/
    border: solid;
    border-width: 20px;
    border-color: rgba(209, 209, 209, 0.84);
    padding-bottom: 20px;
}
#tambr-img{
    position: relative;
    left: -200px;
}
#find-passengers-id{
    border-radius: 10px;
    height: 4em;
    width: 240px;
    margin-left: 20px;
    position: relative;
    top: 10px;
    background-color: rgba(0, 184, 186, 0.84);
}
#what-div{
    margin-top: 20px;
}
#what-header{
    display: inline;
    margin-right: 5px;
}
#what-input{
    width: 275px;
}
.second-line-input{
    width: 110px;
}
.location-input{
    width: 150px;
}
.input-label{
    margin-left: 10px;
}
label{
    font-weight: 100;
}
#how-much-label{
    font-size: 1.7em;
}
#is-ok-label{
    font-size: 1.3em;
}
#button-label{
    position: relative ;
    top: 15px;
}
#slider-value{
    font-size: 2em;
    margin-top: 5px;
    color: rgba(194, 135, 136, 0.93);
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: rgba(255, 146, 146, 0.84);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid;
    border-color: rgba(172, 165, 170, 0.93);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: rgba(255, 146, 146, 0.84);
    border: none;
    border-radius: 3px;
}





input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    /*border: 1px solid white; */

    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: rgba(255, 146, 146, 0.84);
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: solid;
    border-color: rgba(172, 165, 170, 0.93);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    margin-top: -4px;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: none;
}

input[type=range]:focus::-moz-range-track {
    width: 300px;
    height: 5px;
    background: rgba(255, 146, 146, 0.84);
    border: none;
    border-radius: 3px;
}