input[type=text],input[type=url],textarea{
    width: 100%;
    border-radius: 10px;
    border: none;
    resize: none;
}

input[type=text],input[type=url]{
    height: 3em;
    padding-left: 15px;
}
textarea{
    padding-left: 15px;
}

input[disabled=true],input[disabled=disabled]{
    background-color: rgba(205, 207, 203, 0.90);
}

span.checkbox-material{
    margin-right: 5px;
    margin-left: 5px;
}

.radio-div{
    width: 60%;
    display: inline-block;
}

.input-div{
    width: 39%;
    display: none;
}

.alert{
    display: inline-block;
    /*width: 23%;*/
    margin-right: 5px;
    border-radius: 8px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(117, 115, 109, 0.90);
}

.regions{
    margin-top: 10px;
    display: none;
}

div.radio{
    display: inline-block;
}

.order-product{
    color: rgba(100, 189, 197, 0.90);
}
.tooshe-will-find{
    color: rgba(32, 139, 10, 0.90);
}
.kamrang-header{
    color: rgba(159, 158, 155, 0.90);
}
.form-label{
    color: rgba(88, 146, 159, 0.90);
}
.or-header{
    color: rgba(94, 89, 91, 0.90);
}
.row{
    margin-top: 20px;
    margin-bottom: 10px;
}
.row.or-div{
    margin-top: 40px;
    margin-bottom: 40px;
}