/*@font-face {*/
    /*font-family: byekan;*/
    /*src: url(../fonts/BYekan.ttf);*/
/*}*/
/*#middle-navbar> li> a, #search_button> a , label , footer , input , textarea , a , p ,footer b,footer i, button , span , div{*/
    /*font-family: byekan,Arial !important;*/
/*}*/
/*.glyphicon{*/
    /*font-family: 'Glyphicons Halflings' !important;*/
/*}*/
/*.container-fluid{*/
    /*font-family: byekan,Arial !important;*/
/*}*/
/*h1,h2,h3,h4,h5,h6{*/
    /*font-family: byekan,Arial !important;*/
/*}*/
/*label{*/
    /*font-weight: 100 !important;*/
    /*font-size: 1.2em;*/
/*}*/
@font-face {
    font-family: iransans;
    src: url(../fonts/IRANSans_Light.ttf);
}
#middle-navbar> li> a, #search_button> a , label , footer , input , textarea , a , p ,footer b,footer i, button , span , div , li{
    font-family: iransans,Arial !important;
}
.glyphicon{
    font-family: 'Glyphicons Halflings' !important;
}
.container-fluid{
    font-family: iransans,Arial !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: iransans,Arial !important;
}
label{
    font-weight: 100 !important;
    font-size: 1.2em;
}