.modal input[type=text] ,.modal input[type=url] ,  .modal input[type=number] , .modal  textarea , .modal select ,.modal  input[type=email] ,.modal input[type=password]{
    width: 100%;
    border-radius: 5px;
    border: none;
    resize: none;
    border: solid;
    border-width: 1px;
    border-color: rgba(202, 198, 203, 0.90);
}

.modal input[type=text] ,.modal input[type=url] ,.modal input[type=number] ,.modal select ,.modal input[type=email] ,.modal input[type=password]{
    height: 3em;
    padding-left: 15px;
}

.checkbox label{
    padding-left: 0px !important;
}
.radio label{
    padding-left: 30px !important;
    /*margin-left: 5px !important;*/
}
.modal h4{
    font-size: 18px !important;
}
