@font-face {
    font-family: broya;
    src: url(../../fonts/global/BROYA.TTF);
}

/*first row*/
    .first-row{
        margin-top: 20px;
    }
    .left-div{
        width: 420px;
        float: left;
        display: inline-block;
    }
    .verification-div{
        width: 390px;
        margin-right: auto;
        margin-left: auto;
    }
    .mid-div{
        width: 800px;
        float: left;
        display: inline-block;
        margin-left: 15px;
    }
    .mid-div-inf{
        width: 590px;
        display: inline-block;
        direction: rtl;
    }
    .mid-div-pic{
        width: 200px;
        display: inline-block;
        vertical-align: top;
        text-align: right;
    }
    .right-div{
        width: 100%;
        display: inline-block;
    }
/*end of first row*/

/*left side*/

.user-image{
    height: 175px;
    width: 175px;
    margin-top: 20px;
    border: solid;
    border-width: 1px;
    border-color: rgba(193, 203, 193, 0.73);
}

/*end of left side*/

/*center*/

    /*user specifications css*/

    .user-name-row{
        /*margin-bottom: 20px;*/
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .edit{
        font-size: 10px;
        margin-left: 15px;
    }
    .average-response-time{
        margin-top: 10px;
        font-weight: 600;
        text-align: left;
    }
    .user-specification-row{
        margin-left: 20px;
    }
    /*end of user specifications css*/

    /*nav-tabs css*/

    .user-tabs{
        margin-top: -50px;
    }
    @media (max-width: 1350px) {
        .container-fluid{
            width: 1350px;
        }
        footer{
            width: 1350px;
        }
    }
    @media (max-width: 1450px) {
        .container-fluid{
            -moz-transform: scale(0.9,0.9); /* Moz-browsers */
            zoom: 0.9; /* Other non-webkit browsers */
            zoom: 90%; /* Webkit browsers */
        }
    }
        /*@viewport {*/
            /*max-width: 1400px;*/
            /*zoom: 0.1;*/
        /*}*/

    /*@media (max-width: 1450px) {*/
        /*@viewport { width: 1450px; }*/
    /*}*/
    /*@media (max-width: 992px){*/
        /*.user-tabs{*/
            /*margin-top: 0px;*/
        /*}*/
    /*}*/
    /*@media (max-width: 768px) {*/
        /*.nav-tabs.nav-justified>li {*/
            /*display: table-cell;*/
            /*width: 1%;*/
        /*}*/
    /*}*/
    .nav-tabs{
        background-color: transparent !important;
        padding-bottom: 10px !important;
    }
    .nav-tabs.nav-justified{
        border-bottom-width: 1px !important;
        border-bottom: solid !important;
        border-bottom-color: rgba(197, 192, 195, 0.90) !important;

    }
    .nav-tabs li a{
        color: #000000 !important;
        /*margin-right: 150%;*/
            /*70px;*/
        font-size: 15px;
    }
    .first-li{
        margin-left: 20px;
    }
    .nav-tabs li a:hover{
        color: #000000 !important;
    }
    .nav-tabs li.active a{
        font-weight: 600;
    }
    .nav-tabs li.active a:focus{
        color: #000000 !important;
        outline: 0;
    }
    .minus-review{
        color: red;
    }
    .positive-review{
        color: limegreen;
    }
    /*end of nav-tabs css*/

    /*tabcontent css*/

    #my-travels{
        background-color: white;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    #reviews{
        padding-bottom: 50px;
    }
        /*my travels css*/

            /*repairing other css effects*/
                #my-travels .btn{
                        margin-bottom: 10px !important;
                }
                ul, menu, dir {
                    display: block;
                    list-style-type: disc;
                    -webkit-margin-before: 1em;
                    -webkit-margin-after: 1em;
                    -webkit-margin-start: 0px;
                    -webkit-margin-end: 0px;
                    -webkit-padding-start: 40px;
                }
            /*end of repairing other css effects*/

        .date-div{
            position: relative ;
            left: 55px;
            top: 20px;
            text-align: center;
        }
        .content-div{
            position: relative ;
            left: 30px;
            /*top: 30px;*/
        }
        .origin , .destination{
            font-size: 16px;
        }
        .origin{
            margin-top: 10px;
            /*margin-left: 20px;*/
        }
        .destination , .edit-btn , .stuff-btn , .remove-btn{
            /*margin-left: 25px;*/
            height: 40px;
        }
        .stuff-btn,.edit-btn{
            padding-top: 10px !important;
        }
        .btn-circle{
            border-radius: 5px;
            font-size: 12px !important;
        }
        .edit-btn{
            border: solid;
            border-color: rgba(233, 233, 233, 0.80);
            border-width: 2px;
        }
        .modal{
            margin-top: 150px;
        }
        .trashcan-img{
            width: 30px;
            height: 30px;
        }
        .remove-btn{
            /*border: solid;*/
            /*border-color: rgba(233, 141, 158, 0.80);*/
            background: none;
            border: none;
            color: rgba(165, 174, 165, 0.73);
            font-size: 35px;
            position: relative;
            top: -10px;
        }
        .my-travels-hr{
            border-bottom: solid;
            border-bottom-width: 1px;
            border-bottom-color: rgba(185, 196, 185, 0.73);
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .suit-row{
            position: relative;
            top: -15px;
        }
        .buttons-div{
            /*position: relative;*/
            /*right: -30px;*/
            float: right;
        }
        .suitcase-status-btn{
            float: right;
            margin-left: 30px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 15px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        .suitcase-img{
            height: 50px;
            width: 50px;
        }
        .suitcase-status{
            background-color: rgba(111, 224, 229, 0.73);
            position: relative;
            top:-10px;
            margin-left: 0px;
            margin-right: 1px !important;
        }
        .suitcase-material{
            direction: rtl;
            padding-right: 0px;
        }
        .suitcase-material li{
            margin-top: 20px;
            font-size: 16px;
        }
        .weight-div{
            margin-top: 20px;
        }
        .month{
            font-size: 20px;
        }
        .day{
            font-size: 25px;
        }
        .year{
            font-size: 15px;
        }
        .month , .year , .day{
            color: rgba(141, 138, 140, 0.88);
        }
        .weight{
            font-size: 25px;
            font-weight: 300;
        }
        /*end of my travels css*/

        /*reviews css*/

        .review-bottom , .review , .row-picture , .more-row{
            margin-top: 30px;
        }
        .review-info{
            font-size: 12px;
            color: rgba(113, 119, 113, 0.73);
        }
        .review-hr{
            border-bottom: solid;
            border-bottom-width: 1px;
            border-bottom-color: rgba(185, 196, 185, 0.73);
            /*color: rgba(185, 196, 185, 0.73);*/
            margin-bottom: 2px;
        }

        .review-image{
            margin-bottom: 10px;
        }

        .textArea{
            margin-top: 50px;
            margin-bottom: 20px;
            background-color: white;
            border: solid;
            border-color: lightgrey;
            border-width: 1px;
            padding: 20px;
            width: 100%;
        }
        .textArea:enabled{
            border: solid !important;
            border-color: lightgrey !important;
            border-width: 1px;
            border-bottom: thin;
            padding: 20px;
        }
        .final-score-header{
            color: rgba(35, 37, 35, 0.73);
            font-size: 20px;
            top: 5px;
        }
        .star-rating{
            display: inline;
            margin-left: 5px;
        }
        .publish-review-btn{
            /*display: inline;*/
            font-size: 16px;

            float: right;
            border-radius: 20px;
            position: relative;
            top: 15px;
            width: 150px;
            height: 40px;
        }
        /*end of reviews css*/


        /*live requests no requests css*/

        #no-requests-center-div h4 ,#no-requests-center-div h5 ,#no-requests-center-div h2{
            text-align: center;
        }
        #no-requests-center-div img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #no-requests-center-div{
            margin-top: 30px;
        }
        .hidden-element{
           /*visibility: hidden;*/
        }

        /*live requests no requests css ends*/

        /*live requests css*/

            /*repairing other css effects*/
                .live-request-row .btn-label , #reviews .btn-label{
                    background: none !important;
                    padding: 0px !important;
                    position: initial !important;
                }
            /*end of repairing*/

        .live-requests-img{
            height: 100px;
            width: 100px;
            border: solid;
            border-color: rgba(228, 229, 217, 0.73);
            margin-top: 30px;
            left: 20%;
            position: relative;
        }
        .live-request-row{
            margin-top: 15px;
        }
        .traveler-row{
            margin-top: 10px;
        }
        .answer{
            margin-left: 5px;
            display: inline;
        }
        .live-request-div{
            background-color: white;
            margin-top: 20px;
            margin-bottom: 20px;
            border: solid;
            border-color: rgba(199, 200, 190, 0.73);
            border-width: 1px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .grid-row-1 {
            position: relative;
            left: 79px;
            width: 8.3%;
            display: inline-block;
            vertical-align: top;
        }
        .grid-row-2{
            direction: rtl;
            position: relative;
            left: 5%;
            width: 32%;
            display: inline-block;
            vertical-align: top;
        }
        .grid-row-3{
            text-align: right;
            position: relative;
            left: 5%;
            width: 32%;
            display: inline-block;
            vertical-align: top;
        }
        .grid-row-4{
            position: relative;
            left: 5%;
            width: 25%;
            display: inline-block;
            vertical-align: top;
        }
        .title{
            color: rgba(160, 151, 151, 0.66);
        }
        .status-title{
            margin-top: 10px;
        }
        .red{
            color: red;
            font-size: 20px;
            position: relative;
            /*left: -5px;*/
        }
        .gooshe{
            position: relative;
            top: -2px;
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        .request-color{
            /*margin-left: 40px;*/
        }
        .multi-line-status{
            position: relative;
            top: 10px;
        }
        .live-request-btn{
            /*display: inline-block;*/
            /*width: 100%;*/
            margin-right: 2px;
            text-align: center;
            display: table-cell;
            width: 100%;
            /*font-size:em;*/
        }
        .search-btn{
            /*width: 100px;*/
            border: solid;
            border-width: 1px;
            border-color: rgba(80, 195, 200, 0.73);
        }
        .cancel-btn{
            /*width: 100px;*/
            border: solid;
            border-width: 1px;
            border-color: rgba(209, 88, 86, 0.75);
        }
        .send-message-btn{
            /*width: 100px;*/
            border: solid;
            border-width: 1px;
            border-color: rgba(45, 124, 193, 0.95);
        }
        .finalize-btn{
            /*width: 100px;*/
            border: solid;
            border-width: 1px;
            /*border-color: rgba(193, 187, 39, 0.95);*/
        }
        .finish-review-btn{
            /*width: 100px;*/
            border: solid;
            border-width: 1px;
            border-color: rgba(22, 84, 90, 0.95);
        }
        .btn-inner-label{
            /*text-align: center;*/
        }
        .search-btn-inner-label{
            /*position: relative;*/
            /*left: -15px;*/
            color: rgba(76, 193, 209, 0.75);
        }
        .cancel-btn-inner-label{
            /*position: relative;*/
            /*left: -5px;*/
            color: rgba(209, 50, 82, 0.75);
        }
        .send-message-btn-inner-label{
            /*position: relative;*/
            /*left: -20px;*/
            color: rgba(45, 124, 193, 0.95);
        }
        .finalize-btn-inner-label{
            /*position: relative;*/
            color: white;
        }
        .finish-review-btn-inner-label{
            color: white;
            /*position: relative;*/
            /*left: -20px;*/
        }
        /*end of live requests css*/

        /*wishlist css*/

        .row-items {
            text-align: center;
            margin-top: 20px;
        }

        .wishlist-item{
            margin-top: 20px;
        }

        .row-li{
            font: Verdana, Arial, Helvetica, sans-serif;
            width: 100%;
            margin-right:5px;
            background-color: white;
            border-radius: 10px;
            border: solid;
            border-width: 1px;
            border-color: rgba(202, 203, 198, 0.80);
            display: inline-block;
        }

        .goods-name{
            display: block;
            text-align: center;
            margin-top: 30px;
            margin-right: 20px;
            margin-left: 20px;
            font-size: 15px;
            font-weight: 600;
        }
        .goods-image{
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            display: block;
            width: 100%;
            height: 150px;
        }
        .goods-from{
            display: block;
            text-align: center;
            margin-top: 7px;
            /*font-weight: 600;*/
            color: #808080;
            font-size: 11px;
        }
        .goods-price{
            color: rgba(30, 172, 193, 0.95);
                /*rgba(30, 172, 193, 0.80);*/
            font-size: 20px;
            /*text-align: left;*/
            margin-left: 30px;
            float: left;

        }
        .goods-available-passengers{
            /*text-align: left;*/
            float: left;
            color: lightseagreen;
            display: inline;
            width: 65%;
            /*text-align: right;*/
        }

        .button-img{
            height: 20px;
            width: 20px;
            min-width: 100%;
        }

        .row-li h5{
            margin-left: 20px;
        }
        .row-li h4{
            margin-left: 10px;
        }
        .close{
            font-size: 40px;
            margin-right: 10px;
            font-weight: 500;
        }
        /*end of wishlist css*/

    /*end of tabcontent css*/

/*end of center*/


/*right side*/

    /*verification div css*/

    #verifications-ul li{
        margin-top: 20px;
    }
    #verifications-ul{
        margin-top: 30px;
    }
    .verification-add{
        color: red;
    }
    .verification-header{
        text-align: right;
        margin-right: 11px;
    }
    .left-col{
        width: 18%;
        display: inline-block;
        text-align: center;
    }
    .mid-col{
        width: 60%;
        display: inline-block;
        text-align: right;
    }
    .right-col{
        width: 18%;
        display: inline-block;
        text-align: center;
    }
    .logo{
        margin-left: 5px;
    }
    #facebook-logo{
        width: 25px;
        height: 25px;
    }
    #linkedin-logo{
        width: 25px;
        height: 25px;
    }
    /*end of verification div css */

/*end of right side*/


/*general*/

.container-fluid{
    font-family: broya,Arial;
    margin-top: 100px;
}

h1,h2,h3,h4,h5,h6{
    font-family: broya,Arial;
    /*font-size: 1.1em !important;*/
}
a{
    color: #009688;
}
 h4, h5 , h6{
     font-size: 1.1em !important;
 }

li{
    list-style: none;
}

.inline{
    display: inline;
}

body{
    background-color: rgba(248, 248, 248, 0.80);
    min-width: 583px;
}

label{
    font-weight: 100 !important;
}
.container-fluid label{
    font-size: 1em !important;
}
textarea{
    resize: none;
}
/*end of general*/