@media (max-width: 731px){
    footer{
        width: 731px;
    }
}
.whole-div{
    width: 700px !important;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
}
.container-fluid{
    margin-top: 100px;
}
.success-payment{
    color: #009688;;
}
.user-information-div{
    margin-right: 40px;
}
.information-label{
    margin-left: 10px;
}
.product-number{
    width: 15%;
}
.product-title{
    width: 60%;
}
.product-price{
    width: 15%;
}
.product-inf-first{
    background: #87d1da;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.product-inf-row{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: solid 1px #aeb4ba;
}
.inline-div{
    display: inline-block;
}
