body{
    background-color: rgba(248, 248, 248, 0.80);
}
.container-row{
    margin-top: 130px;
    font-family: 'Lato',Arial;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato',Arial;
}
input{
    border: solid;
    border-width: 1px;
    border-color: rgba(189, 199, 189, 0.73);
}
input:focus{
    border: solid;
    border-width: 2px;
    border-color: rgba(146, 154, 146, 0.73);
}

#title{
    text-align: center;
}
#for-free-image{
    height: 40px;
    width: 40px;
}
#flight-form{
    /*background-color: lightgray;*/
    /*background: url(../../img/foozieh.png);*/
    background: url(../../img/flightSubmit/sssssss.png);

}
.form-input{
    width: 100% ;
}
.row{
    margin-top: 30px;
}
#max-weight-input{
    width: 100%;
    color: red;
    text-align: center;
    font-size: 20px;
}
.input-label{
    margin-right: 5px;
}
#for-free-description{
    font-size: 0.85em;
    color: rgba(141, 141, 141, 0.84);
    position: relative;
    top: 10px;
    margin-left: 10px;
    width: 50%;
    display: inline-block;
}
#money-input{
    font-size: 25px;
    position: relative;
    top: -10px;
    left: -20px;
}
#textArea{
    background-color: white;
}
#submit-button{
    float: right;
    margin-right: 75px;
}
.travel-label{
    margin-right: 10px ;
    font-size: 1.3em;
}
.travel-input{
    width: 200px;
}
#travel-date{
    margin-right: 35px;
}
.second-line-input{
    width: 150px;
}
#date3{
    position: relative;
    left: -4px;
}
#till-label{
    position: relative;
    left: 30px;
}
#yo-do-request{
    font-size: 1.5em;
}
.radio-primary{
    margin-bottom: 25px;
}
.radio-label{
    font-size: 1.4em;
}
#any-information{
    width: 50%;
    font-size: 1.2em;
}
label{
    font-weight: 100;
}