.sort-1st-div{
    width: 15%;
}
.to-div {
    width: 10%;
}
.date-div {
    width: 21%;
}
.shopping-result-detail-div{
    width: 40%;
}
.req-to-bring-div{
    width: 50%;
}
.to-send{
    direction: rtl;
}
@media (min-width: 1472px) {
    .due-div {
        width: 17%;
    }
    .date-div{
        width: 16%;
    }
}
@media (max-width: 1471px) and (min-width: 1399px)  {
    .due-div{
        width: 18%;
    }
    .date-div{
        width: 17%;
    }
}
@media (max-width: 1398px) and (min-width: 1147px) {
    .due-div{
        width: 19%;
    }
    .date-div{
        width: 18%;
    }
}
@media (max-width: 1146px) and (min-width: 992px) {
    .due-div{
        width: 21%;
    }
    .date-div{
        width: 18%;
    }
}
@media (max-width: 991px ) and (min-width: 926px) {
    .due-div{
        width: 16%;
    }
    .date-div{
        width: 15%;
    }
}
@media (max-width: 925px) and (min-width: 896px) {
    .due-div{
        width: 18%;
    }
    .date-div{
        width: 16%;
    }
}
@media (max-width: 895px) {
    .due-div{
        width: 22%;
    }
    .date-div{
        width: 19%;
    }
}
.product-weight{
    font-size: 1.1em !important;
}
.shopping-result-item-name{
    font-size: 1.1em !important;
}
.shopping-result-question-label{
    font-size: 1em !important;
}
.shopping-result-item-from{
    font-size: 1.1em !important;
}
/*.due-div {*/
    /*width: 21%;*/
/*}*/
.from-div label , .to-div label , .due-div label , .date-div label{
    font-size: 1.1em !important;
}
.item-weight{
    /*direction: rtl;*/
}
.you-do-this-div {
    width: 40%;
}
.slider-div {
    width: 35%;
}
.slider-div2{
    width: 28%;
}
.slider-amount-div{
    width: 18%;
}
.shopping-1st-modal-1st-div{
    direction: rtl;
}
.passengers-can-bring-label{
    direction: rtl;
}
.total-payment-to-u{
    direction: rtl;
}
.for-div{
    direction: rtl;
}
.for-img{
    margin-left: 15px;
}
.warning-label , .warning-label-2{
    direction: rtl;
}
.send-request-btn{
    direction: rtl;
}
.due-date{
    direction: rtl;
    text-align: left;
    vertical-align: top;
}
.to-send-div label{
    font-size: 1em !important;
}
.application-fee-modal{
    height: 535px;
}
.application-fee-modal2{
    height: 620px;
}
.radio-label{
    position: relative;
    top: -8px;
    right: -7px;
}
.radio-label-description{
    margin-right: 30px;
}
.shopping-1st-modal{
    height: 240px;
}
@media(max-width: 911px){
    .information-2nd-div{
        width: 60%;
    }
    .information-3rd-div{
        width: 23%;
    }
}
.price{
    font-size: 30px;
}
.you-do-this-div2{
    width: 48%;
}