.about-us-text{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgrey;
    background-color: white;
    padding: 10px;
}
.about-us{
    margin-bottom: 20px;
}
.container-fluid{
    font-family: 'Lato',Arial;
    margin-top: 100px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato',Arial;
}   